body {
    background-color: #ffffff; 
    color: #333; 
    font-family: Arial, sans-serif; 
    font-size: 16px; 
  }
  
header {
    padding: 20px 0; 
    background-color: #333; 
    color: #ffffff; 
    font-family: Arial, sans-serif; 
    font-size: 16px; 
}
  h1, h2 {
    font-size: 24px; 
  }

  div {
    padding-bottom: 20px;
  }