footer {
    background-color: #000B22;
}

footer img {
    width: 520px;
    margin-top: 80px;
    margin-bottom: 50px;
}

footer .contactos {
    display: flex;
    justify-content: space-between;
    font-size: 32px;
    padding-bottom: 80px;
}

footer .contactos a{
    text-decoration: none;
    color: white;
}